<div class="container">
    <div>
    <h1>Create Image</h1>
    </div>
    <div class="form-content">
        <form action="/template" method="POST" class="form-input-groups">
        <div class="input-groups">
            <label for="text-image">Inserir texto</label>
            <input type="text" id="textimage" name="textimage">

            <label for="width-image">width</label>
            <input type="number" id="widthimage" name="inputWidth" style="color: black;">

            <label for="height-image">height</label>
            <input type="number" id="heightimage" name="inputHeight">

            <button type="submit" style="width: 60px; height: 30px; cursor: pointer; background-color:green"> Salvar </button>

        </div>
        </form>
    </div>
    <div>
        <div>
        <h2>Preview Image</h2>
        </div>
        <div>
            <img src="/images/output.png" alt="imagem-personalizada" width="90%">
        </div>
    </div>
</div>
